* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

$maincolor: black;
$contrastcolor: white;


@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-text-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

// --------------------------
// Header
// --------------------------

nav {
  @include white-text-black-bg;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;

  img {
      max-height: 45px;
      margin: 0 5px 0 10px;
  }

  .navitem {
    @include white-text-black-bg;
    div {
        margin: 10px;
        font-size: large;
    }
  }

  .navitem:hover {
    @include black-text-white-bg();
    padding: 5px 0;
  }
}

.productlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  margin: 30px 0;
  
  a {
    color: rgb(0, 0, 0, 0.5);
  }

  img {
    max-height: 400px;
    max-width: auto;
  }
}

.product:hover {
  a {
    color: black;
  }
}



@media only screen and (max-width: 600px) {
  nav {
    width: 100vw;
    justify-content: space-around;
  }

  .product {
    margin: 15px 0;

    img {
      max-width: 350px;
    }
  }
}