* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

$maincolor: black;
$contrastcolor: white;


@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-text-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

// --------------------------
// Header
// --------------------------

nav {
  @include white-text-black-bg;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;

  img {
      max-height: 45px;
      margin: 0 5px 0 10px;
  }

  .navitem {
    @include white-text-black-bg;
    div {
        margin: 10px;
        font-size: large;
    }
  }

  .navitem:hover {
    @include black-text-white-bg();
    padding: 5px 0;
  }
}

.index {

  a {
    button {
      background-color: lightseagreen;
      font-weight: 600;
      border: solid rgb(0, 0, 0, 0.0) 1px;
      border-radius: 30px;
      padding: 10px 15px;
      margin-top: 20px;
    }

    button:hover {
      border: solid black 1px;
    }
  }

  .productlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .product {
      margin: 30px 0;
      
      a {
        color: rgb(0, 0, 0, 0.5);
      }
    
      img {
        max-height: 400px;
        max-width: auto;
      }
    }
    
    .product:hover {
      a {
        color: black;
      }
    }
  }
}

.createpage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;

  .createform {
    width: 50%;
    height: 50%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;

    .formitem {
      text-align: center;
      width: 80%;
      margin: 10px 0;
      padding: 5px 0;
    }

    #button {
      background-color: lightseagreen;
      font-weight: 600;
      border: solid lightseagreen;
      border-radius: 3px;
    }

    #button:hover {
      background-color: white;
      border: solid lightseagreen;
    }
  }
}



@media only screen and (max-width: 600px) {
  nav {
    width: 100vw;
    justify-content: space-around;
  }

  .product {
    margin: 15px 0;

    img {
      max-width: 350px;
    }
  }
}